/*footer*/

.footer-bg{
    background-color:  rgba(248, 249, 250,0.9);
}
.footer-title{
    color:black;
    display: block;
    text-align: center;
    margin-bottom: 6%;
    text-transform:capitalize;
   
  }
.list li a i.fab{
      font-size:20px;
  }
.list-link li a{
display: block;

}
  .list{
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    }

.list li a {
      color: #777777;
      font-weight: 500;
      font-size: .9em;
      padding: .3em 0;
      text-align: center;
    }
    .fa-instagram{
      color:white;
      border:1px solid white;
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      font-size:24px;  
  }
  .instagram-border{
    border-radius:4px;
    padding:2px;
  }
/*bottom footer*/
.dsg{
    color:black;
    text-transform: uppercase;
    margin-bottom:0px;
    padding:1% 0px;
}
.bg-bottom{
   /* background-color:rgb(254, 231, 21,1);*/
   background-color:#ffc809
  
}
/*//bottom part*/
/*//footer*/