<!--footer-->
<div class="footer-bg ">
    <div class="row no-gutters justify-content-center py-5">


        <div class="col-sm-3 d-flex justify-content-center">

            <a routerLink="">
                <img src="assets/image/trans-giraffe-code-1.png" class="img-responsive nav-logo">
            </a>
        </div>

        <div class="col-sm-3 ">

            <ul class="list list-link">
                <li>
                    <h5 class="footer-title">Giraffe Code</h5>
                </li>

                <li>
                    <a href="#about">About Us</a>
                </li>
                <li>
                    <a href="#clients">Our Portfolio</a>
                </li>
          
            </ul>
        </div>

        <div class="col-sm-3 ">

            <ul class="list list-link">
                <li>
                    <h5 class="footer-title">Follow Us</h5>
                </li>

                <li >
                    <a href="https://instagram.com/giraffe_code?igshid=125iitdm8pzui"><i class="fab fa-instagram instagram-border"></i></a>
                </li>
              
            </ul>
        </div>

        <div class="col-sm-3 ">

            <ul class="list list-link">
                <li>
                    <h5 class="footer-title">Get in Touch</h5>
                </li>
                <li> <a href="tel:+2 01003932212"><i class="fas fa-phone-alt"></i>+2 01003932212</a></li>
                <li>
                    <a href="mailto:info@giraffecode.com">info@giraffecode.com</a>

                </li>

            </ul>
        </div>

    </div>
</div>
<!--bottom part-->
<div class="row bg-bottom no-gutters justify-content-center">
    <p class="dsg"><i class="far fa-copyright"></i> giraFFe code.</p>
</div>
<!--//bottom part-->