.branch-banner{
   background: url("../../assets/image/contact.png")   no-repeat center fixed ;
   height:225px;
   width:100%;
   top:110px;
   background-size: contain;

}
.contact-det{
    color:#777777;
    font-size:18px;
    font-weight:300;
}
.contact-title{
    font-size:20px;
    font-weight:300;
}
.contact-set{
    padding:10px;
  
    border-radius:50%
}
.special-contact-set{
    border:2px solid darkgray ;
    color:#ffc809;
    font-size:20px;
}
.sc a{
    color: #777777;
    
}
.sc{
   
    margin-bottom:1.5rem;

}
.contact-cont-m:hover .on-hover-sp{
    color:#ffc809;
}
/*.main-title::before,.main-title::after{
    content:url(../../assets/image/yellow-wave.png);
    display: inline-block;
    
    margin:0px 0.9rem;

    
}*/
.container-wrap-all{
    background-color: white;
}


@media (max-width: 767.98px) {
    .branch-banner{
        background-attachment: unset;
    }
}




