<app-navbar></app-navbar>
<!--<div class="container-wrap-all">-->
<div class="branch-banner">

</div>
<div class="contact-contain-wrap">
<div class="stand-block"></div>

<div class="row justify-content-center no-gutters">
    <div class="col-sm-6 d-flex justify-content-center">
        <h3 class="main-title text-center">Let's Start</h3>
       
    </div>
</div>
<div class="stand-block"></div>
<div class="row justify-content-center no-gutters">
    <div class="col-sm-6 d-flex justify-content-center">
     
        <h4 class="contact-det">Choose your method to contact us .</h4>
    </div>
</div>
<div class="stand-block"></div>
<div class="row justify-content-center no-gutters">
    <div class="col-sm-3 sc text-center">
        <div class="contact-cont-m">
        <p ><i class="fas fa-phone-alt contact-set special-contact-set"></i></p>
        <p class="contact-title">Call us</p>
        <a class="on-hover-sp " href="tel:+2 01003932212">+2 01003932212</a>
        </div>
    </div>
    <div class="col-sm-3 sc text-center">
        <div class="contact-cont-m">
        <p ><i class="fab fa-instagram contact-set special-contact-set"></i></p>
        <p class="contact-title">Visit our Instagram</p>
        <a class="on-hover-sp " href="https://instagram.com/giraffe_code?igshid=125iitdm8pzui">giraffe_code</a>
        </div>
    </div>
    <div class="col-sm-3 sc text-center">
     <div class="contact-cont-m">
        <p><i class="fas fa-envelope contact-set special-contact-set"></i>
        <p class="contact-title">Send us an E-mail</p>
        <a class="on-hover-sp " href="mailto:info@giraffecode.com">info@giraffecode.com</a>
    </div>
    </div>
 
</div>


<div class="stand-block"></div>
</div>
<app-footer></app-footer>
<!--</div>-->