.bg-light-style{
background-color: rgba(255, 255, 255,1);
height:auto;
max-height:150px;
z-index:999;
width:100%;
left:0px;
top:0px;
transition:all 0.5s ease-in-out;
padding:0px;


}
.navbar-light .navbar-nav .nav-link{
    letter-spacing: 1.1px;
}

.header_change{
    background-color: rgba(248, 249, 250,0.9);
    position:fixed;
    z-index: 999;
    top:0px;
    height:100px;
    transition:all 0.5s ease-in-out;
    left:0px;
  
  
}
.header_change .nav-logo{
width:auto;
height:70px;
}

@media (max-width: 767.98px) {
    .bg-light-style .navbar-collapse{
        background-color: white;
        padding:0px 1rem;

    }
    .header_change .navbar-collapse {
        background-color: rgba(248, 249, 250,0.9);
        padding:0px 1rem;
        margin-top:1.2rem
    }
}