<div class="hero-bg ">
    <div class=" bg-overlay ">
        <div id="hero-car" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner  hero-inner">
                <div class="carousel-item hero-item" data-interval="5000">
                    <h1>Now you can create your online store in minutes</h1>
                </div>
                <div class="carousel-item hero-item active " data-interval="5000">


                    <h1>Our Team is Passionate and Always Puts Strategy Before Execution</h1>
                </div>
                
                <div class="carousel-item hero-item" data-interval="5000">
                    <h1>We are Ready to Empower Your Idea with The Best Digital Solution</h1>
                </div>
            </div>

        </div>
    </div>
</div>
<!--hero car
<div id="hero-car" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#hero-car" data-slide-to="0" class="active"></li>
        <li data-target="#hero-car" data-slide-to="1"></li>
        <li data-target="#hero-car" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/image/car-1.jpg" class="d-block w-100 car-img-style" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/image/car-1.jpg" class="d-block w-100 car-img-style" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/image/car-1.jpg" class="d-block w-100 car-img-style" alt="...">
        </div>
    </div>

</div>-->
<!--
<img src="assets/video/Blue-g.gif"alt="intro" class="intro-img">
-->
<!--video youtube
<div class="rel-pos">
    <div class="videoWrapper">
        <iframe width="560" height="349" loop=1  allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen" 
        msallowfullscreen="msallowfullscreen" 
        oallowfullscreen="oallowfullscreen" 
        webkitallowfullscreen="webkitallowfullscreen" src="https://www.youtube.com/embed/PDDsPWK6dNI?autoplay=1&amp;loop=1&amp;loop=1&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;mute=1&amp;start=15&amp;end=20"   allowfullscreen="allowfullscreen"></iframe>
        </div>
    <div id="hero-car" class="carousel slide carousel-fade" data-ride="carousel">
      
        <div class="carousel-inner  hero-inner">

            <div class="carousel-item hero-item active " data-interval="4000">

           
                <h1>Our team is passionate and always puts strategy before execution.</h1>
            </div>
            <div class="carousel-item hero-item" data-interval="4000">

               
                <h1><span class="quotes">“Design is not just what it looks like and feels like, design is how it
                        works”.</span> - Steve Jobs</h1>
            </div>
            <div class="carousel-item hero-item" data-interval="4000">

            
                <h1>the future belongs to those who can connect creativity to technology </h1>
            </div>
        </div>

    </div>


</div>-->
<div class="stand-block"></div>
<!--what we do-->
<div class="row justify-content-center no-gutters" id="whats_we_do">
    <div class="col-sm-6 d-flex justify-content-center">
        <h3 class="main-title">what we do</h3>
    </div>
</div>
<div class="stand-block"></div>
<div class="row justify-content-center no-gutters" style="overflow-x: hidden;">

    <div class="col-lg-3 col-sm-3 col-md-4 d-flex justify-content-center ">

        <div class="work-wrap bg-web-dev bg-w" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos="fade-right">

            <div class="worksign mx-auto">
                <i class="fas fa-drafting-compass"></i>
            </div>
            <div class="worktitle">
                <h4>Web Development</h4>
                <p> Your site reflects your company, your products, your services and ultimately your brand. ...So We
                    design professional look & feel yet simple & affordable websites.A Responsive User Interface, a user
                    friendly & SEO optimized website is all you need to stay ahead of the game with you rivals .</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-4 d-flex justify-content-center" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos="zoom-in">

        <div class="work-wrap bg-web-dev  bg-w">
            <div class="worksign mx-auto">
                <i class="fas fa-server"></i>
            </div>
            <div class="worktitle">
                <h4>Web Hosting and Servers</h4>
                <p> Fast and reliable managed
                    hosting solution for your business with more benefits of hosting.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-4 d-flex justify-content-center" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos="fade-left">

        <div class="work-wrap bg-web-dev bg-w">
            <div class="worksign mx-auto">
                <i class="fas fa-tablet-alt mr-2"></i><i class="fas fa-mobile-alt"></i>
            </div>
            <div class="worktitle">
                <h4>Mobile Development</h4>
                <p>Build your mobile application with a team of great experience in building mobile applications for all
                    mobiles working with Android and IOS.</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center no-gutters" style="overflow-x: hidden;">
    <div class="col-sm-3 col-lg-3 col-md-4 d-flex justify-content-center" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos="fade-right">

        <div class="work-wrap bg-web-dev bg-w">
            <div class="worksign mx-auto">
                <i class="fas fa-suitcase"></i>
            </div>
            <div class="worktitle">
                <h4>Consulting</h4>
                <p>We are ready to offer our expertise in system development and management to your business
                    requirements.

                    We are passionate about developing IT solutions that increase service, accessibility and efficiency.

                    We believe that by working together, we do better.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-lg-3 col-md-4 d-flex justify-content-center" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos="zoom-in">

        <div class="work-wrap bg-web-dev bg-w">
            <div class="worksign mx-auto">
                <i class="fas fa-chart-bar"></i>
            </div>
            <div class="worktitle">
                <h4>Business Analysis</h4>
                <p>We practice of enabling change in an organizational context, by defining needs and recommending
                    solutions that deliver value to stakeholders .</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-4 d-flex justify-content-center" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos="fade-left">

        <div class="work-wrap bg-web-dev bg-w">
            <div class="worksign mx-auto">
                <i class="fab fa-opencart"></i>
            </div>
            <div class="worktitle">
                <h4>E-Commerce</h4>
                <p> Choose our ready-made ecommerce platform to allow online businesses to manage their website, sell
                    products and online services.
                    So you can stay ahead of your competitors with our best eCommerce solutions into your business.</p>
            </div>
        </div>


    </div>
</div>

<!--//what we do-->

<div class="stand-block"></div>

<!--test about-->
<div class="about-bg">
    <div class="bg-fill">
        <div class="glow-bg text-center">
            <div class="stand-block" id="about"></div>
            <h3 class="white-txt">Imagination Can Turn Into Reality</h3>
            <div class="stand-block"></div>
        </div>
    </div>
</div>
<!--test about-->
<!--about-->
<div class="row no-gutters">
    <div class="col-sm-6  bg-about" data-aos-duration="1000" data-aos-mirror="true" data-aos-easing="ease-in-out"
        data-aos="fade-zoom-in">


    </div>
    <div class="col-sm-6">
        <div class="about-wrap ">
            <h3>About Giraffe Code </h3>
            <p class="about-p">Here in Giraffe Code we develop a creative products and services that provide
                communication and information solution. Our emphasis is on offering a high degree of product user
                friendliness through a positive, creative and focused company staff.</p>
        </div>
    </div>
</div>

<!--//aboute-->

<!--clients-->
<div class="stand-block" id="clients"></div>
<div class="row justify-content-center no-gutters">
    <div class="col-sm-6 d-flex justify-content-center">
        <h3 class="main-title">our Portfolio</h3>
    </div>
</div>
<div class="stand-block"></div>
<!--//clients-->
<div class="row no-gutters justify-content-center">
    <div class="col-sm-2">
        <div class="clients-wrap">
            <div class="container-client">
                <img src="assets/image/logo-edit.png" alt="logo" class="logo-clients">
                <div class="overlay-client">
                    <div class="text-client">
                        <a class="dark-txt" href="http://forex-steps.com/">View news website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="clients-wrap">
            <div class="container-client">
                <img src="assets/image/omsco-logo.svg" alt="logo" class="logo-clients">
                <div class="overlay-client">
                    <div class="text-client">
                        <a class="dark-txt" href="https://www.omsco-group.com/">View logestic website</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <img src="assets/image/cake-up-logo.jpg" alt="logo" class="logo-clients">-->
    </div>

</div>
<div class="stand-block"></div>

<!--giraffe team
<div class="stand-block"id="team"></div>
<div class="row justify-content-center no-gutters">
    <div class="col-sm-6 d-flex justify-content-center">
        <h3 class="main-title">giraffe team</h3>
    </div>
</div>
<div class="stand-block"></div>
-->
<!--giraffe team car

<div class="team-bg ">
    <div class="team-bg-clr">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div id="team-car" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators carousel-indicators-style ">
                        <li data-target="#team-car" data-slide-to="0" class="active"></li>
                        <li data-target="#team-car" data-slide-to="1"></li>
                        <li data-target="#team-car" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner carousel-inner-style">
                        <div class="carousel-item  active">
                            <img src="assets/image/profile.jpg" class="d-block mx-auto profile-pic" alt="...">
                            <div class="profile-wrap">
                                <h3 class="team">
                          lorem ipsum</h3>
                         <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/profile.jpg" class="d-block mx-auto  profile-pic" alt="...">
                            <div class="profile-wrap">
                                <h3 class="team">lorem ipsum</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/profile.jpg" class="d-block mx-auto  profile-pic" alt="...">
                            <div class="profile-wrap">
                                <h3 class="team"> lorem ipsum</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--//giraffe team-->
<!--2nd tested bg
<div class="stand-block" id="about"></div>
<div class="row no-gutters justify-content-center">
    <div class="bg-about">
        <div class="bg-about-effect">
            <div class="col-sm-12">
                <div class="about-wrap text-center">
                    <h3 class="white-txt">About Giraffe Code </h3>
                    <p class="about-p white-txt">Here in Giraffe Code we develop a creative products and services that provide
                        communication and information solution. Our emphasis is on offering a high degree of product user
                        friendliness through a positive, creative and focused company staff.</p>
                </div>
            </div>  
        </div>

    </div>
</div>-->
<!--//2nd tested bg-->