@keyframes go-ahead{
    0%{
        background-position:-500px;
     
    }
   50%{
       background-position: bottom;
   }
}


@keyframes intro-bg-motion {
0%{
    background-position: bottom; 
  
  }
  50%{
      background-position:top ;
  }

100%{
    background-position:bottom ;
}
 }
 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.hero-bg{
    background: url("../../assets/image/instead-lw.jpg")   no-repeat top ;
   
    max-height:800px;
    height:750px;
    position: relative;
    background-size: cover;
    animation: intro-bg-motion 20s ease-in-out infinite;
}
.bg-overlay{
    background-color:#66656566;
  
    height:100%;
}

.hero-inner{
   
    text-align: center;
}
#hero-car{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:90%;

}
/*
.carousel-indicators li{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:rgb(252,223,3);
}
.car-img-style{
    height:740px;
    max-height:800px;
}
*/
.bg-about{
    background: url("../../assets/image/hand-up.png") no-repeat center ;
  
    max-height:500px;
 
    width:100%;
    background-size: cover;

}

/*
.bg-about-effect{
    backdrop-filter: blur(10px);
    background: linear-gradient( rgba(59, 59, 59,0.9)  2%, #66656566 54%,rgba(59, 59, 59,0.9) 100%);
    max-height:500px;
 
}*/

.about-bg{
    background: linear-gradient(-45deg,#17A6FF ,#777777 , #ffc809,#FF1719 );
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;

}
/*
.glow-bg{
background:url(src/assets/image/data-new.png),url(src/assets/image/sparkle2.png) no-repeat;
animation:sparkle 60s linear infinite;
width:100%;



}*/
/*tested about bg*/



/*
.side-main-img{
    height:500px;
    width:100%;
    max-height:550px;

}*/
/*new intro
.intro-img{
    width:100%;
    height:auto;
    max-height:900px;
}
.carousel-item {
  
    transition-duration: 3s;
    transition-timing-function:linear;

  }
.intro-overlay{
    background-color: rgba(0,0,0,0.2);
    
}
.rel-pos{
    position: relative;
}*/
.hero-item h1 {
    color:white;
    font-size:43px;
   
} 
.fnt-q{
    font-size:30px
}

/*//new intro*/

.about-wrap{
  text-align:center ;
  padding:3rem;
  
 
}
.about-wrap p{
   
    font-size:18px;
    line-height: 1.7;
    font-weight:300;
}

.bg-web-dev:hover{
    background-image: url(../../assets/image/face.png);
    background-position:500px;
    animation:go-ahead 3s  ;
 
  

}
.work-wrap{
    text-align: center;
    width: 85%;

    margin: 0.9rem;
    transition:all ease-in-out 0.3s ;
 
 
}
.work-wrap:hover .worksign{
    color:white;
    transform:rotateZ(-20deg);
    transition-delay:1.5s;
    
}


.work-wrap:hover{
    background-color:rgba(252,223,3,0.8);
    color:white;

}
.worksign{
    font-size:50px;
    color:darkgray;
    margin-bottom:20px;
    width:70px;
    display:inline-flex;
    justify-content:center;
    transition:ease-in-out 0.3s all
}
.worksign .fa-mobile-alt{
    transform:rotate(90deg)translateX(9px)
   

}
.work-wrap:hover .worktitle p{
    color:white;
}
.worktitle p {
   font-size:15px;
   color:#777777;
   text-align:left;
   margin-top:10px;
   font-weight:300;
   line-height: 1.6;
}

.logo-clients{
    width:auto;
    height:80px;
    max-width:140px;
    margin:1rem 1.8rem;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out ;
}
.clients-wrap{
    text-align: center;

 
}
/*client overlay*/
.overlay-client {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    right: 0;
    background-color:rgba(248, 249, 250,0.8);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
   
  }
  .container-client{
    position: relative;
    width: 100%;
  }
  .container-client:hover .overlay-client {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .container-client:hover .logo-clients{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  
  .text-client {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/*client overlay*/
.profile-pic{
height:100px;
border-radius:50%;
width:100px;
}
.profile-wrap{
    text-align: center;
    margin-top:10px;
}
.carousel-indicators-style{
    position:relative;
}
/*.team-bg{
    background: url("../../assets/image/roozbeh-eslami-YlVjrBkfXt8-unsplash.jpg")   no-repeat fixed center;
  
    min-height:300px;
   
    
}
.team::before{
    content:"{ ";
        color:rgb(252,200,9);
        
}
.team::after{
    content:" }";
        color:rgb(252,200,9);
        
}
.team-bg-clr{
    background-color:rgba(255 ,200, 9 ,0.5);
    padding:2rem;
    min-height:300px;
    backdrop-filter: blur(7px);    
}
.carousel-inner-style{
    background-color:rgba(255, 255, 255,0.6);
    padding:2rem;
}*/
/*responsive*/
@media (max-width: 767.98px) {

    .hero-item h1{
font-size: 20px;;
    }
    .fnt-q{
        font-size:18px
    }
    .bg-overlay{
        height:350px;
    }
    .hero-bg{
        max-height: 350px;
        background-size:cover;  
     
    }
 
 }