/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: sectfont;
    src: url(/src/assets/font/RobotoMono-Variable-VariableFont_wght.ttf);
    
}

html{
    scroll-behavior: smooth;
    font-family: sectfont !important;
    
}
.nav-logo{
    width:auto;
    height:115px;
   
    transition:all 0.5s ease-in-out;
}

.stand-block{
    width:100%;
    height:4rem;
    display: block;
}
.bg-w{
    background-color: white;
    border-radius:4px;
/*    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);*/
    border:1px solid rgba(0,0,0,0.2);
    padding:1rem 2rem;
}
/*.quotes{
    font-family: quotesfont,sans-serif !important;
}*/
/*.container-wrap-all{
    position: relative;
    top:141px;
}*/
.main-title{
    text-transform:capitalize;
}
.main-title::before,.main-title::after{
    content:url(src/assets/image/yellow-wave.png);
    display: inline-block;
    
    margin:0px 0.9rem;

    
}

.dark-txt{
    color: #111111 !important;
}
.dark-gray{
    color:darkgray !important;
}
.white-txt{
    color:white !important;
}

@media only screen and (max-width : 768px) {
    
    .main-title::after{
        display:block;
        text-align:center;
        margin-top:4px;
    }  
    .main-title::before{
        display:none;
    
    }
}